body {
    margin: 0;
    font-family: "Spline Sans", "sans-serif";
}

.header {
    background-color: #121414;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

.title-logo {
    margin-right: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin:15px;
    display: inline-block; /* importante */
    transition: transform 0.2s ease;
}

.nav-links a:hover {
    opacity: .8;
    transform: scale(1.05)
}

.search-box {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 30px;
    position: relative;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-box input {
    width: 240px;
    height: 40px;
    padding: 8px 36px 8px 15px;
    border-radius: 20px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    color: #fff;
    font-family: "Spline Sans", "sans-serif";
    font-size: 15px;
}

.search-box input:hover {
    background-color: #363636;
}

.search-box input:focus {
    outline: none;
    border-color: #1db954;
}

.search-box button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.login a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

.login a:hover {
    opacity: .8;
    transform: scale(1.05);
}

.divider {
    border: none;
    height: 5px;
    background-color: #1db954;
    margin: 0;
}




@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }

    .search-box input {
        width: 100%;
    }

    .login {
        margin-top: 10px;
    }
}


