<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbumes de Costa Rica</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        <div class="title">
            <a href="index.html">
                <h1>MusiCR</h1>
                <h5>Sitio web dedicado a la música de Costa Rica</h5>
            </a>
        </div>
        
        <nav>
            <a href="artistas.html">Artistas/Bandas</a>
            <a href="albumes.html">Álbumes</a>
            <a href="generos.html">Géneros</a>
            <a href="noticias.html">Noticias</a>
            <a href="listas.html">Listas</a>
            <div class="remark"><a href="foro.html">Foro</a></div>
            <a href="#">Perfil</a>  
        </nav>

    </header>
</html>