<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre música costarricense - TicoSound</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>

<header class="header">
    <div class="title-logo">
        <a href="index.html">
            <img src="../images/logo.png" alt="Logo" title="TicoSound" height="80">
        </a>
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="charts.html">Charts</a></li>
            <li><a href="listas.html">Listas</a></li>
            <li><a href="generos.html">Géneros</a></li>
        </ul>

        <form class="search-box">
            <input type="search" placeholder="Buscar...">
            <button type="submit">
                <img src="../images/buscar.png" alt="Buscar" height="20px" title="Ir">
            </button>
        </form>

        <div class="login">
            <a href="ingresar.html">Ingresar</a>
        </div>
    </nav>
</header>

<hr class="divider">

<h1>Géneros</h1>


</body>
</html>