<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre y comparte música costarricense - MusiCR</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>

    <div class="contenedor">

        

        <section class="popular-contenedor">

            <h2>Lo más popular</h2>

            <div class="lista-artistas">

                <h3>Artistas</h3>

                <article class="artista">
                    <div class="artista-cols">
                        <div class="artista-img">
                            <img src="../images/profile.jpg" alt="Artista 1">    
                        </div>
                        <p><strong>Los Perros</strong></p>
                        <p>Banda de Rock...</p>
                    </div>
                </article>

                <article class="artista">
                    <div class="artista-cols">
                        <div class="artista-img">
                            <img src="../images/profile.jpg" alt="Artista 2">    
                        </div>
                        <p><strong>Los Gatos</strong></p>
                        <p>Banda de Reggae...</p>
                    </div>
                </article>

                <article class="artista">
                    <div class="artista-cols">
                        <div class="artista-img">
                            <img src="../images/profile.jpg" alt="Artista 3">    
                        </div>
                        <p><strong>Maricela</strong></p>
                        <p>Artista de Pop...</p>
                    
                    </div>
                </article>

            </div>

            <div class="lista-albumes">

                <h3>Álbumes</h3>

                <article class="album">
                    <div class="artista-cols">
                        <div class="album-img">
                            <img src="../images/profile.jpg" alt="Álbum 1">
                        </div>
                        <p><strong>El Mar</strong></p>
                        <p>Los Perros</p>
                    </div>
                </article>

                <article class="album">
                    <div class="artista-cols">
                        <div class="album-img">
                            <img src="../images/profile.jpg" alt="Álbum 2">
                        </div>
                        <p><strong>La Cancha</strong></p>
                        <p>Adriano Pérez</p>
                    </div>
                </article>

                <article class="album">
                    <div class="artista-cols">
                        <div class="album-img">
                            <img src="../images/profile.jpg" alt="Álbum 3">
                        </div>
                        <p><strong>Hola</strong></p>
                        <p>Garbanzos</p>
                    </div>
                </article>

            </div>
        </section>

        <section class="listas-contenedor">

            <h2>Listas de la comunidad</h2>

            <article class="lista">
                <div class="lista-cols">
                    <div class="lista-img">
                        <img src="../images/profile.jpg" alt="Lista 1">
                    </div>
                    <p><strong>Música de Limón</strong></p>
                    <p>Lista dedicada a la música proveniente de la provincia de Limón</p>
                </div>
            </article>

            <article class="lista">
                <div class="lista-cols">
                    <div class="lista-img">
                        <img src="../images/profile.jpg" alt="Lista 2">
                    </div>
                    <p><strong>Música de Puntarenas</strong></p>
                    <p>Lista dedicada a la música proveniente de la provincia de Puntarenas</p>
                </div>
            </article>

            <article class="lista">
                <div class="lista-cols">
                    <div class="lista-img">
                        <img src="../images/profile.jpg" alt="Lista 1">
                    </div>
                    <p><strong>Música de Limón</strong></p>
                    <p>Lista dedicada la música electrónica realizada por artistas costarricenses</p>
                </div>
            </article>

        </section>
        
    </div>

</body>
</html>